<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KHUKET | Home</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon1.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css" type="text/css" media="screen" />
    <!-- Theme color -->
    <link id="switcher" href="assets/css/theme-color/default-theme.css" rel="stylesheet">

    <!-- Main style sheet -->
    <link href="assets/css/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,700' rel='stylesheet' type='text/css'>

    <title>Ticketing Service</title>
    <script src="http://developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
    <!--START SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- END SCROLL TOP BUTTON -->

    <!-- Start menu -->
    <section id="mu-menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- LOGO -->
                    <!-- TEXT BASED LOGO -->
                    <a class="navbar-brand" href="/"><span><img src="assets/img/logo.png"> KHUKET</span></a>
                    <!-- IMG BASED LOGO  -->
                    <!-- <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a> -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right main-nav">
                        <!--세션별로 다르게 나오게 설정-->
                        <% if(session.admin_id) { %>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/administrators" >My Page</a></li>
                            <li><a href="/gigs">Gigs</a></li>
                            <li><a href="/users/logout" >Logout</a></li>
                            <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                        <% } else if(session.organizer_id) { %>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/organizers" >My Page</a></li>
                            <li><a href="/gigs">Gigs</a></li>
                            <li><a href="/organizers/add_gig" >Add Gig</a></li>
                            <li><a href="/users/logout" >Logout</a></li>
                            <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                        <% } else if(session.buyer_id) { %>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/mypage">My Page</a></li>
                            <li><a href="/gigs">Gigs</a></li>
                            <li><a href="/reselling">Reselling</a></li>
                            <li><a href="/users/logout">Logout</a></li>
                            <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                        <% } else { %>
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/gigs">Gigs</a></li>
                            <li><a href="/buyers/login" >Login</a></li>
                            <li><a href="#" id="mu-search-icon"><i class="fa fa-search"></i></a></li>
                        <% } %>    
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </section>
    <!-- End menu -->
    <!-- Start search box -->
    <div id="mu-search">
        <div class="mu-search-area">      
        <button class="mu-search-close"><span class="fa fa-close"></span></button>
        <div class="container">
            <div class="row">
            <div class="col-md-12">            
                <form class="mu-search-form">
                <input type="search" placeholder="Type Your Keyword(s) & Hit Enter">
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- End search box -->
    <!-- Start Slider -->
    <section id="mu-slider">
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="assets/img/slider/1.png" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Welcome To Ticketing Service</h4>
                <span></span>
                <h2>Blockchain Based Ticketing System
                    to Prevent Illegal and Premium Tickets</h2>
                <p>We used Hyperledger Fabric</p>
            </div>
        </div>
        <!-- Start single slider item -->
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="assets/img/slider/2.png" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Welcome To Ticketing Service</h4>
                <span></span>
                <h2>Blockchain Based Ticketing System
                    to Prevent Illegal and Premium Tickets</h2>
                <p>We used Hyperledger Composer</p>
            </div>
        </div>
        <!-- Start single slider item -->
        <!-- Start single slider item -->
        <div class="mu-slider-single">
            <div class="mu-slider-img">
                <figure>
                    <img src="assets/img/slider/3.png" alt="img">
                </figure>
            </div>
            <div class="mu-slider-content">
                <h4>Welcome To Ticketing Service</h4>
                <span></span>
                <h2>Blockchain Based Ticketing System
                    to Prevent Illegal and Premium Tickets</h2>
                <p>We used Node.js</p>
            </div>
        </div>
        <!-- Start single slider item -->
    </section>
    <!-- End Slider -->
    <!-- Start service  -->
    <section id="mu-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="mu-service-area">
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <h3>Secure</h3><br>
                            <p>By using block chains in the ticketing system, it is possible to prevent ticket forgery and tampering that occurs inside and outside the ticket system through the distributed ledger.
                            This ensures that the purchased ticket is genuine.
                            </p><br />
                        </div>
                        <!-- Start single service -->
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <h3>Reselling</h3><br>
                            <p> It is possible to trade resale tickets without premiums transparently by rules set by organizers. Ticket owners can resell tickets through the system in an easy way, and ticket buyers can purchase tickets securely without having to worry about counterfeit tickets that occur during the resale process.</p>
                        </div>
                        <!-- Start single service -->
                        <!-- Start single service -->
                        <div class="mu-service-single">
                            <h3>Transparent</h3><br>
                            <p>You can prevent all the ticket transactions, including counterfeit tickets and premium tickets. Consumers will be able to make transactions that are trustworthy and transparent, while managers and sponsors can reduce unnecessary costs and leverage marketing data.</p>
                        </div>
                        <!-- Start single service -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service  -->

    <!-- Start about us -->
    <section id="mu-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-about-us-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-left">
                                    <!-- Start Title -->
                                    <div class="mu-title">
                                        <h2>About Us</h2><br>
                                    </div>
                                    <!-- End Title -->
                                    <p>Capstone Design 1 Students</p>
                                    <ul>
                                        <li>2016104140 윤혜원</li>
                                        <li>2016104172 최재은</li>
                                        <li>2013104051 김기빈</li>
                                    </ul>
                                    <br><p><a href="http://khuhub.khu.ac.kr/2019-1-capstone-design1/HCS_block_chain_ticket_protection">http://khuhub.khu.ac.kr/2019-1-capstone-design1/HCS_block_chain_ticket_protection</a></p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="mu-about-us-right">
                                    <iframe width="556" height="312" src="https://www.youtube.com/embed/Mga83_431YY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about us -->

    <!-- jQuery library -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.js"></script>
    <!-- Slick slider -->
    <script type="text/javascript" src="assets/js/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="assets/js/waypoints.js"></script>
    <script type="text/javascript" src="assets/js/jquery.counterup.js"></script>
    <!-- Mixit slider -->
    <script type="text/javascript" src="assets/js/jquery.mixitup.js"></script>
    <!-- Add fancyBox -->
    <script type="text/javascript" src="assets/js/jquery.fancybox.pack.js"></script>


    <!-- Custom js -->
    <script src="assets/js/custom.js"></script>

</body>
</html>