<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://developers.kakao.com/sdk/js/kakao.min.js">
        </script>
</head>
<body>
    <li><a href="/auth/login/kakao" class="page-scroll">Login</a></li>
</body>
</html>