<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Organizer</title>
</head>
<body>
  <h3>로그인에 성공하셨습니다 ~</h3>
  <form action="/organizers/add_gig" method="get">
    <input type="submit" value="공연 등록">
  </form>
  <form action="/organizers/show_gigs" method="get">
    <input type="submit" value="공연 목록 보기">
  </form>
  <!--form action="/organizers/update_gig" method="get">
    <input type="submit" value="공연 수정">
  </form>
  <form action="/organizers/delete_gig" method="get">
    <input type="submit" value="공연 삭제">
  </form>-->
  <form action="/users/logout" method="get">
    <input type="submit" value="로그아웃">
  </form>

</body>
</html>