<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

  <h3>Buyer 로그인</h3>
  <form action="/users/buyer_login" method="get">
    <input type="submit" value="Buyer 로그인">
  </form>

  <h3>Organizer 로그인</h3>
  <form action="/users/organizer_login" method="get">
    <input type="submit" value="Organizer 로그인">
  </form>

  <h3>Buyer 회원가입</h3>
  <form action="/users/buyer_signup" method="get">
    <input type="submit" value="Buyer 회원가입">
  </form>

  <h3>Organizer 회원가입</h3>
  <form action="/users/organizer_signup" method="get">
    <input type="submit" value="Organizer 회원가입">
  </form>
</body>
</html>